@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Outfit:wght@200&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #060429;
  justify-content: center;
}
.contact {
  color: white;
}
a {
  margin-right: 30px;
  align-items: flex-end;
  float: right;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: #060429;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a:hover {
  background: #ddd;
  color: #060429;
  border-radius: 108px;
}
.pages {
  margin-top: 30px;
}
@media (min-width: 1025px) {
  .navbar-title {
    font-size: 15px;
    color: white;
    float: left;
    margin-top: 0;
    margin-left: 70px;
    font-family: "Architects Daughter", cursive;
  }
}
$phone: 331px;
@media (min-width: $phone) and (max-width: 1024px) {
  .navbar-title {
    font-size: 11px;
    color: white;
    margin-top: 0;
    margin-left: 50px;
    font-family: "Architects Daughter", cursive;
  }
}
$phone: 331px;
@media (min-width: 1025px) {
  .navbar-navigation {
    width: 100%;
    margin-left: -20px;
    margin-top: -30px;
  }
}
@media (min-width: $phone) and (max-width: 1024px) {
  .navbar-navigation {
    display: none;
  }
}
.navbar a {
  float: right;
  margin-top: 10px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-left: 0px;
  text-decoration: none;
}

.first-page {
  width: 100%;
  height: auto;
  justify-content: center;
  text-align: center;
  display: inline-block;
  background-image: url(https://wallpaperaccess.com/full/434879.jpg);
}
.first-page-aboutme {
  color: #ffffff;
  float: left;
  margin-top: 17%;
  margin-left: 5%;
  font-size: 27px;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: $phone) and (max-width: 1024px) {
  .first-page-aboutme {
    color: #ffffff;
    float: left;
    margin-top: 25%;
    margin-left: 5%;
    font-size: 19px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

.first-page-photo {
  height: auto;
  margin-top: -150px;
  width: 100%;
  display: inline;
}

@media (min-width: $phone) and (max-width: 1024px) {
  .profile-photo {
    border-radius: 45%;
    display: block;
    width: 200px;
    float: right;
    margin-top: 90px;
    margin-right: 130px;
  }
}
@media (min-width: 1025px) {
  .profile-photo {
    border-radius: 45%;
    display: block;
    width: 300px;
    float: right;
    margin-top: 220px;
    margin-right: 85px;
  }
}
@media (min-width: 1025px) {
  .first-page-contact-button {
    width: 100%;
    margin-right: 60px;
    float: right;
    margin-top: 0px;
  }
}
@media (min-width: $phone) and (max-width: 1024px) {
  .first-page-contact-button {
    width: 100%;
    margin-right: 60px;
    float: right;
    margin-top: 20px;
  }
}
.first-page-contact-button a {
  font-size: 38px;
  background-color: #ffffff;
  border-radius: 108px;
  width: 280px;
  height: auto;
  color: #060429;
}
@media (min-width: 1025px) {
  .first-page-icons-links {
    float: left;
    display: flex;
    margin-top: 100px;
    margin-left: 90px;
  }
}
@media (min-width: $phone) and (max-width: 1024px) {
  .first-page-icons-links {
    float: left;
    display: flex;
    margin-top: 130px;
    margin-left: 25px;
  }
}
@media (min-width: 1025px) {
  .insta {
    width: 115%;
    margin-top: -5px;
  }
}
@media (min-width: $phone) and (max-width: 1024px) {
  .insta {
    width: 140%;
    margin-top: -5px;
  }
}
.second-page {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  display: inline-block;
  color: #ddd;
  text-align: center;
  height: 931px;
}
.second-page-logo {
  filter: hue-rotate(10deg), grayscale(100%);
}
.second-page img {
  width: 30%;
}
.second-page-title {
  font-size: 30px;
}
.second-page-text {
  font-size: 30px;
}
.second-page h3 {
  margin: 10px;
}
.third-page {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  display: inline-block;
  color: #ddd;
  text-align: center;
  height: 931px;
}

.third-page-title {
  font-size: 30px;
}
.third-page-text {
  font-size: 30px;
}
.third-page h3 {
  margin: 10px;
}
.fourth-page {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  display: inline-block;
  color: #ddd;
  text-align: center;
  height: 931px;
}

.fourth-page-title {
  font-size: 30px;
}

.fourth-page h3 {
  margin: 10px;
}
.fourth-page-what-i-do {
  font-size: 30px;
}
.fourth-page-what-i-do img {
  margin: 20px;
}
@media (min-width: 1025px) {
  .vscode {
    width: 64px;
  }
}
@media (min-width: $phone) and (max-width: 1024px) {
  .vscode {
    width: 64px;
  }
}
.fourth-page-what-i-learning img {
  margin: 20px;
}
.fourth-page-basic-knowledge img {
  margin: 20px;
}
.fourth-page-what-i-learning {
  font-size: 30px;
}
.fourth-page-basic-knowledge {
  font-size: 30px;
}
.fifth-page {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  display: inline-block;
  color: #ddd;
  height: 900px;
}
.fifth-page-title {
  text-align: center;
  font-size: 30px;
}
.fifth-page-text {
  width: 100%;
  margin-top: 100px;
}
.fifth-page-text h3 {
  font-size: 30px;
  display: inline;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 135px;
  margin-left: 155px;
}
.fifth-page-image {
  margin-top: 20px;
}
.fifth-page-image img {
  width: 400px;
  margin-left: 80px;
  height: 200px;
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  -o-filter: grayscale(90%);
  -ms-filter: grayscale(90%);
  filter: grayscale(90%);
  transition-duration: 2s;
}
.fifth-page-image img:hover {
  width: 400px;
  margin-left: 80px;
  height: 200px;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  z-index: 0;
}
